[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pygithub = "*"
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"


[dev-packages]



[requires]

python_version = "3.6"
