[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pygithub = "1.37"
requests = "2.18.4"
"beautifulsoup4" = "4.6.0"
lxml = "4.2.0"


[dev-packages]



[requires]

python_version = "3.6"
